<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../libreria/fontawesome-free-6.3.0-web/css/all.min.css">
    <!--ICONO DE PAGINA-->
    <link rel="shortcut icon" href="../imagenes/logo2.png">
    <title>Explora Museo</title>
</head>
<body>

    <!--BOTON DE IR ARRIBA-->
    <div id="btn-top">
        <span class="fas fa-angle-up"></span>
    </div>

    <!--MENU PRINCIPAL-->
    <div class="menu-superior">
        <div class="logo" id="logo">
            <img src="../imagenes/logo.png" alt="Logo">
        </div>

        <div class="menu-bar" id="menuBar">
            <i class="fas fa-angle-right" id="btnMenuClose"></i>

            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#equipo">Categorias</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>

            <div class="sociales">
                <a href="#"><span class="fab fa-facebook"></span></a>
                <a href="#"><samp class="fab fa-instagram"></samp></a>
                <a href="#"><span class="fab fa-twitter"></span></a>
                <a href="#"><span class="fab fa-youtube"></span></a>
            </div>
        </div>

        <i class="fas fa-bars" id="btnMenuOpen"></i>

    </div>

    <!--MENU DE PRODUCTOS-->
    <section id="menu-productos">
        <div class="contenedor-principal">
            <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

            <div class="slider">

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Conoce <b>la capital</b> </h2>
                        <h1>Ciudad de México</h1>
                        <p>El Centro Histórico de la ciudad de México –el más grande y emblemático de América Latina- es uno de los más importantes centros turísticos del mundo y el principal destino de turismo cultural del país</p>
                        <button class="btn"> ¡Conocela!</button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../imagenes/menu/angel-noche.jpg" alt="">
                    </div>

                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Los <b>mas visitados</b> </h2>
                        <h1>Top 10 museos</h1>
                        <p>Nuestra ciudad es una de las que tiene más museos en el mundo. No esperes hasta que sea el Día Internacional de los Museos, que se celebra cada año el 18 de mayo, para visitarlos. Entre la tanta oferta te decimos cuáles son los 50 museos que debes conocer si visitas o vives en la CDMX</p>
                        <button class="btn"> ¡Conocelos!</button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../imagenes/menu/antropologia.jpg" alt="">
                    </div>

                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Para <b>ahorrar</b> </h2>
                        <h1>¡Museos Gratis!</h1>
                        <p>Que el presupuesto no sea problema, conoce los mejores museos gratis que ofrece la Ciudad de México</p>
                        <button class="btn"> ¡Conocelas!</button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../imagenes/menu/castillo.jpg" alt="">
                    </div>

                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Para <b>toda la familia</b> </h2>
                        <h1>Museos Interactivos</h1>
                        <p>Sabemos que para ti lo más importante es pasar tiempo en familia, por eso aquí te tenemos las mejores opciones para divertirte</p>
                        <button class="btn"> ¡Conocelas!</button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../imagenes/menu/papalote.jpg" alt="">
                    </div>

                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                        <h2>Come algo <b>antes de seguir</b> </h2>
                        <h1>Museos con terrazas</h1>
                        <p>Recorrer museos es una de las mejores actividades, sin tambien es muy cansado, por eso aquí te tenemos algunos museos que cuentan con restaurante y terrazas</p>
                        <button class="btn"> ¡Conocelas!</button>
                    </div>

                    <div class="imagen-productos">
                        <img src="../imagenes/menu/terrazas.jpg" alt="">
                    </div>

                </div>



            </div>


            <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
        </div>

    </section>

    <section id="servicios">
        <div class="servicios-titulos">
            <h2 class="subtitulos">La ciudad con los mejores museos</h2>
            <h1 class="titulos">Museos por categoria</h1>
        </div>

        <div class="servicios-container">
            <div class="imagen-central">
                <img class="imag" src="../imagenes/museo.jpg" alt="">
            </div>

            <div class="items interactivo">
                <p><span class="fas fa-pen-fancy"></span></p>
                <p class="titulo-item">Interactivo</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quia necessitatibus ea sed dolor ad maxime beatae perspiciatis totam</p>
                <p></p>
            </div>

            <div class="items economia">
                <p><span class="fas fa-money-bills"></span></p>
                <p class="titulo-item">Economia</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quia necessitatibus ea sed dolor ad maxime beatae perspiciatis totam</p>
                <p></p>
            </div>

            <div class="items historia">
                <p><span class="fas fa-book-open-reader"></span></p>
                <p class="titulo-item">Historia</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quia necessitatibus ea sed dolor ad maxime beatae perspiciatis totam</p>
                <p></p>
            </div>

            <div class="items naturaleza">
                <p><span class="fas fa-paw"></span></p>
                <p class="titulo-item">Naturaleza</p>
                <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quia necessitatibus ea sed dolor ad maxime beatae perspiciatis totam</p>
                <p></p>
            </div>

        </div>
    </section>

    <!--SECCION DE 4 ACTIVIDADES-->
    <section id="equipo">
        <div class="museo">
            <img src="../imagenes/actividades/interactivos.jpg" alt="" class="museo-imagen">
            <div class="museo-info">
                <h2>Museos Interactivos</h2>
                <p>Descubre nuevos mundos</p>
                <div class="social-media">
                    <a href="#"><span class="fab fa-facebook"></span></a>
                    <a href="#"><samp class="fab fa-instagram"></samp></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>

        <div class="museo">
            <img src="../imagenes/actividades/soumaya.jpg" alt="" class="museo-imagen">
            <div class="museo-info">
                <h2>Noche de museos</h2>
                <p>El ultimo miercoles de cada mes</p>
                <div class="social-media">
                    <a href="#"><span class="fab fa-facebook"></span></a>
                    <a href="#"><samp class="fab fa-instagram"></samp></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>

        <div class="museo">
            <img src="../imagenes/actividades/arquelogia2.jpg" alt="" class="museo-imagen">
            <div class="museo-info">
                <h2>Arqueologia</h2>
                <p>Descubre el pasado</p>
                <div class="social-media">
                    <a href="#"><span class="fab fa-facebook"></span></a>
                    <a href="#"><samp class="fab fa-instagram"></samp></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>

        <div class="museo">
            <img src="../imagenes/actividades/planetario.jpg" alt="" class="museo-imagen">
            <div class="museo-info">
                <h2>Planetarios</h2>
                <p>Un mundo más allá del nuestro</p>
                <div class="social-media">
                    <a href="#"><span class="fab fa-facebook"></span></a>
                    <a href="#"><samp class="fab fa-instagram"></samp></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
    </section>

    <!--SECCION DE MINIATURAS-->
    <section id="miniaturas">
        <div class="mini">
            <img src="../imagenes/miniaturas/cubrebocas.jpg" alt="" class="imagen-mini">
            <div class="info-mini">
                <p><span class="fas fa-user-doctor"></span ></p>
                <p class="txt-mini">Medidas sanitarias</p>
            </div>
        </div>

        <div class="mini">
            <img src="../imagenes/miniaturas/planear.png" alt="" class="imagen-mini">
            <div class="info-mini">
                <p><span class="fas fa-check"></span ></p>
                <p class="txt-mini">Planea tu visita</p>
            </div>
        </div>

        <div class="mini">
            <img src="../imagenes/miniaturas/mapa.png" alt="" class="imagen-mini">
            <div class="info-mini">
                <p><span class="fas fa-search-location"></span ></p>
                <p class="txt-mini">Mapas</p>
            </div>
        </div>

        <div class="mini">
            <img src="../imagenes/miniaturas/transporte.jpg" alt="" class="imagen-mini">
            <div class="info-mini">
                <p><span class="fas fa-train-subway"></span ></p>
                <p class="txt-mini">Transporte</p>
            </div>
        </div>

        
    </section>

    <!--SECCION CONTACTO-->
    <section id="contacto">
        <div class="titulo-contacto">
            <h2 class="subtitulos">Queremos conocer tu opinión</h2>
            <h1 class="titulos">Contactanos</h1>
        </div>

        <form action="" id="formulario">
            <div class="two-fiels">

                <div class="inputConIcon">
                    <input type="text" id="nombre" name="nombre" class="input-text" placeholder="Nombre">
                    <i class="fas fa-user"></i>
                </div>

                <div class="inputConIcon">
                    <input type="text" id="email" name="email" class="input-email" placeholder="Email">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>

            <div class="fiels">
                <div class="inputConIcon textareaIcon">
                    <textarea name="comentarios" id="comentarios" class="textarea" placeholder="Ingrese su mensaje"></textarea>
                    <i class="fas fa-comments"></i>
                </div>
            </div>

            <div class="fiels-btn">
                <input type="submit" class="btn btn-input" value="Enviar">
            </div>
        </form>
    </section>

    <!--ALERTAS-->
    <div class="alertas">
        <div id="alertError" class="alert hide">
            <span class="icono-alert fas fa-exclamation-circle"></span>
            <span class="msg">Error:campos de entrada vacios</span>
        </div>

        <div id="alertSuccess" class="alert hide">
            <span class="icono-alert fas fa-check-circle"></span>
            <span class="msg">Datos enviados. Gracias por contactarnos</span>
        </div>


    </div>

    <!--SECCION FOOTER-->
    <footer>
        <div class="sociales-metodo">
            <i class="fas fa-map-marked-alt"></i>
            <span>Lorem ipsum dolor sit amet .</span>
        </div>

        <div class="sociales-metodo">
            <i class="fas fa-envelope"></i>
            <span>info@museoexplore.com</span>
        </div>

        <div class="sociales-metodo">
            <i class="fas fa-phone"></i>
            <span>+525583189403</span>
        </div>

        <div class="sociales-metodo">
            <i class="fab fa-twitter"></i>
            <span>@Museo_explore</span>
        </div>


    </footer>

   
    <script src="../js/app.js">
    </script>
</body>
</html>